:root {
    --red: #ff0000;
    --green: #51ff51;

    --light-bg-color: #f1f1f1;
    --dark-bg-color: #141414;

    --light-text-color: #000000;
    --dark-text-color: #f1f1f1;

    --light-offset-color: #e2e2e2;
    --dark-offset-color: #444444;

    --light-offset-hover-color: #f5f5f5;
    --dark-offset-hover-color: #303030;
}

/* Background */
#absolute-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -900 !important;
}
#light-theme #absolute-background { background-color: var(--light-bg-color); }
#dark-theme #absolute-background { background-color: var(--dark-bg-color); }

/* Text Color */
#light-theme { color: var(--light-text-color); }
#dark-theme { color: var(--dark-text-color); }