#asset-creator-popup .split {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 0 0;
}

#asset-creator-popup .split .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2em 0 0;
}

#asset-creator-popup .img {
    width: 250px;
    height: 250px;
    background-color: tomato;
    border-radius: 5px;
    position: relative;
}

#asset-creator-popup .img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #eeeeee;
}

#asset-creator-popup .img .img-controls {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 0 15px 0;
}

#asset-creator-popup .img .img-controls .fa-icon {
    cursor: pointer;
}

#asset-creator-popup .img img:hover {
    filter: brightness(80%);
}